@use 'mixins' as mx;

:host {
  @include mx.floating-card;

  .logo {
    width: 100%;
    display: block;
    padding-bottom: 1rem;
  }

  .auth {
    @include mx.floating-card-surface;
  }

  .oidc-only-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }
}
