:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
  width: 100vw;
  height: 100vh;

  .app-menu {
    width: 100%;
    border: none;
    border-radius: var(--p-border-radius-lg);

    ::ng-deep {
      .p-menubar-root-list {
        width: 100%;
      }
      .p-menubar-item {
        border-radius: var(--p-button-border-radius);
        border: 2px solid transparent;
      }
      .p-menubar-item:has(.p-menubar-item-link-active) {
        border: 2px solid var(--p-primary-color);
      }
    }
  }

  .app-content {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }
}
