networks:
  tugtainer:
    driver: bridge
services:
  app:
    container_name: tugtainer
    build:
      context: .
      dockerfile: Dockerfile.app
      args:
        VERSION: dev build
    environment:
      AGENT_SECRET: testsecret
      LOG_LEVEL: info
    volumes:
      - tugtainer_data_dev:/tugtainer
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - tugtainer
    ports:
      - '9412:80'
    environment:
      # OIDC Configuration
      OIDC_ENABLED: "false"
      OIDC_WELL_KNOWN_URL: ""
      OIDC_CLIENT_ID: ""
      OIDC_CLIENT_SECRET: ""
      OIDC_REDIRECT_URI: ""
      OIDC_SCOPES: "openid profile email"
volumes:
  tugtainer_data_dev:
