@for (form of formArray.controls; track form) {
  <form
    class="settings-form-group"
    [formGroup]="form"
  >
    @if (form.controls.key.value; as key) {
      <span class="settings-form-group-name">
        {{ keyTranslates[key]?.LABEL ?? key }}
      </span>

      <div class="settings-form-group-field">
        <ng-container
          [ngTemplateOutlet]="valueInputTemplate"
          [ngTemplateOutletContext]="{
            value_type: form.controls.value_type.value,
            key: key,
            control: form.controls.value,
          }"
        ></ng-container>
      </div>

      <section class="settings-form-group-functions">
        @switch (key) {
          @case (ESettingKey.NOTIFICATION_URL) {
            <p-button
              icon="pi pi-send"
              severity="contrast"
              rounded="true"
              [pTooltip]="'SETTINGS.BY_KEY.NOTIFICATION_URL.TEST' | translate"
              tooltipPosition="left"
              (onClick)="onTestNotification()"
            >
            </p-button>
          }
          @case (ESettingKey.OIDC_WELL_KNOWN_URL) {
            <p-button
              icon="pi pi-link"
              severity="contrast"
              rounded="true"
              [pTooltip]="'SETTINGS.BY_KEY.OIDC_WELL_KNOWN_URL.TEST' | translate"
              tooltipPosition="left"
              (onClick)="onTestOidc()"
            >
            </p-button>
          }
        }

        @if (keyTranslates[key]?.HINT; as hint) {
          <p-button
            icon="pi pi-question"
            severity="contrast"
            [pTooltip]="hint"
            tooltipPosition="left"
            rounded="true"
            (onClick)="onHintClick(keyTranslates[key]?.LINK)"
          >
          </p-button>
        }
      </section>
    }
  </form>
}

<p-button
  [loading]="isLoading()"
  [disabled]="!formArray.dirty"
  (onClick)="submit()"
>
  <i class="pi pi-save"></i>
  <span pButtonLabel>
    {{ 'GENERAL.SAVE' | translate }}
  </span>
</p-button>

<ng-template
  #valueInputTemplate
  let-key="key"
  let-value_type="value_type"
  let-control="control"
>
  @switch (key) {
    @case (ESettingKey.TIMEZONE) {
      <p-autocomplete
        fluid
        [suggestions]="displayedTimezones()"
        [dropdown]="true"
        (completeMethod)="timezonesSearch.set($event.query)"
        [formControl]="control"
        appendTo="body"
      >
      </p-autocomplete>
    }
    @default {
      @switch (value_type) {
        @case ('bool') {
          <p-togglebutton
            [formControl]="control"
            [onLabel]="'GENERAL.ENABLED' | translate"
            [offLabel]="'GENERAL.DISABLED' | translate"
            [onIcon]="'pi pi-check-circle'"
            [offIcon]="'pi pi-circle-off'"
          />
        }
        @case ('str') {
          <input
            fluid
            id="value-{{ key }}"
            type="text"
            pInputText
            [formControl]="control"
          />
        }
        @default {
          <p-input-number
            fluid
            id="value-{{ key }}"
            [formControl]="control"
          ></p-input-number>
        }
      }
    }
  }
</ng-template>
