<form
  class="form"
  [formGroup]="form"
  (submit)="onSubmit()">
  <app-password-field
    [control]="form.controls.password"
    inputId="new-password"
    labelKey="AUTH.PASSWORD"
    autocomplete="new-password"
    [autoFocus]="true">
  </app-password-field>

  <!-- Chrome hack -->
  <input
    type="text"
    id="login_username"
    name="login_username"
    autocomplete="username"
    style="display: none" />

  <app-password-field
    [control]="form.controls.confirm_password"
    inputId="confirm-new-password"
    labelKey="AUTH.CONFIRM_PASSWORD"
    autocomplete="new-password"
    [invalid]="confirmPasswordError()">
  </app-password-field>

  <p-button
    class="form-button"
    type="submit"
    [loading]="isLoading()"
    [disabled]="!form.dirty">
    <i class="pi pi-save"></i>
    <span pButtonLabel>
      {{ 'GENERAL.SAVE' | translate }}
    </span>
  </p-button>
</form>
