<p-iftaLabel class="field">
  <p-password
    [class.ng-invalid]="invalid()"
    [inputId]="inputId()"
    [pAutoFocus]="autoFocus()"
    [name]="inputId()"
    [autocomplete]="autocomplete()"
    [formControl]="control()"
    [toggleMask]="true"
    [feedback]="true"
    [fluid]="true"
    [promptLabel]="'AUTH.PASSWORD_PROMPT' | translate"
    [weakLabel]="'AUTH.PASSWORD_STRENGTH.WEAK' | translate"
    [mediumLabel]="'AUTH.PASSWORD_STRENGTH.MEDIUM' | translate"
    [strongLabel]="'AUTH.PASSWORD_STRENGTH.STRONG' | translate"
    appendTo="body">
    <ng-template #footer>
      <p-divider />
      <ul class="pl-2 my-0 leading-normal">
        @for (text of 'AUTH.PASSWORD_HINTS' | translate; track text) {
          <li>{{ text }}</li>
        }
      </ul>
    </ng-template>
  </p-password>
  <label [for]="inputId()">
    {{ labelKey() | translate }}
  </label>
</p-iftaLabel>
