<section class="upper-row">
  <p-button
    icon="pi pi-sync"
    [label]="'CONTAINERS.CHECK_NOW.BUTTON_LABEL' | translate"
    [loading]="isLoading()"
    (onClick)="checkAndUpdate()"
  >
  </p-button>
  @if (checkProgress(); as prog) {
    @if (prog.updated !== undefined) {
      <p-tag [severity]="prog.updated > 0 ? 'success' : 'secondary'">
        {{ 'CONTAINERS.CHECK_NOW.UPDATED' | translate }} {{ prog.updated }}
      </p-tag>
    }

    @if (prog.available !== undefined) {
      <p-tag [severity]="prog.available > 0 ? 'info' : 'secondary'">
        {{ 'CONTAINERS.CHECK_NOW.AVAILABLE' | translate }} {{ prog.available }}
      </p-tag>
    }

    @if (prog.failed !== undefined) {
      <p-tag [severity]="prog.failed > 0 ? 'danger' : 'secondary'">
        {{ 'CONTAINERS.CHECK_NOW.FAILED' | translate }} {{ prog.failed }}
      </p-tag>
    }
  }
</section>

@if (checkProgress(); as prog) {
  @if (prog.status !== ECheckStatus.DONE) {
    <p-progress-bar
      [style.height.px]="6"
      [showValue]="false"
      [value]="prog.progress ?? 0"
      [mode]="prog.progress ? 'determinate' : 'indeterminate'"
    >
    </p-progress-bar>
  }
}
