<p-table
  #dt2
  [globalFilterFields]="['name', 'short_id']"
  dataKey="name"
  sortMode="multiple"
  [multiSortMeta]="[
    { field: 'update_available', order: -1 },
    { field: 'name', order: 1 },
  ]"
  [scrollable]="true"
  scrollHeight="flex"
  [value]="list()"
>
  <ng-template #header>
    <tr>
      <th pFrozenColumn>
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            #searchInput
            id="containers-search"
            pInputText
            type="text"
            (input)="dt2.filterGlobal($event.target.value, 'contains')"
            [placeholder]="'CONTAINERS.TABLE.SEARCH_PLACEHOLDER' | translate"
          />
        </p-iconfield>
      </th>
      <th colspan="4"></th>
      <th>
        <p-button-group>
          <p-button
            [loading]="isLoading()"
            [label]="'GENERAL.REFRESH' | translate"
            (onClick)="updateList()"
          ></p-button>
          <p-button
            severity="success"
            [loading]="checkAllActive()"
            [label]="'CONTAINERS.TABLE.CHECK_ALL' | translate"
            (onClick)="checkAll()"
          ></p-button>
        </p-button-group>
      </th>
    </tr>

    <tr>
      <th
        pFrozenColumn
        pSortableColumn="name"
        class="name-header"
      >
        {{ 'CONTAINERS.TABLE.NAME' | translate }}
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        {{ 'CONTAINERS.TABLE.STATUS' | translate }}
        <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th pSortableColumn="health">
        {{ 'CONTAINERS.TABLE.HEALTH' | translate }}
        <p-sortIcon field="health"></p-sortIcon>
      </th>
      <th pSortableColumn="check_enabled">
        {{ 'CONTAINERS.TABLE.CHECK_ENABLED' | translate }}
        <i
          class="pi pi-question-circle"
          style="margin: 0 0.5rem"
          [pTooltip]="'CONTAINERS.TABLE.CHECK_HINT' | translate"
          tooltipPosition="left"
        ></i>
        <p-sortIcon field="check_enabled"></p-sortIcon>
      </th>
      <th pSortableColumn="update_enabled">
        {{ 'CONTAINERS.TABLE.UPDATE_ENABLED' | translate }}
        <i
          class="pi pi-question-circle"
          style="margin: 0 0.5rem"
          [pTooltip]="'CONTAINERS.TABLE.UPDATE_HINT' | translate"
          tooltipPosition="left"
        ></i>
        <p-sortIcon field="update_enabled"></p-sortIcon>
      </th>
      <th pSortableColumn="update_available">
        <p-sortIcon field="update_available"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template
    #body
    let-container
    let-expanded="expanded"
  >
    <tr>
      <td pFrozenColumn>
        <span class="name-cell">
          <p-button
            type="button"
            pRipple
            [pRowToggler]="container"
            severity="contrast"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
          {{ container.name }}
        </span>
      </td>
      <td>
        <p-tag
          [severity]="EContainerStatusSeverity[container.status]"
          [value]="container.status"
        ></p-tag>
      </td>
      <td>
        <p-tag
          [severity]="EContainerHealthSevirity[container.health] ?? 'secondary'"
          [value]="container.health"
        ></p-tag>
      </td>
      <td>
        @if (!container.is_self) {
          <p-togglebutton
            severity="success"
            [ngModel]="container.check_enabled"
            (ngModelChange)="onCheckEnabledChange($event, container)"
            [onLabel]="'GENERAL.ENABLED' | translate"
            [offLabel]="'GENERAL.DISABLED' | translate"
            [onIcon]="'pi pi-check-circle'"
            [offIcon]="'pi pi-circle-off'"
          />
        }
      </td>
      <td>
        @if (!container.is_self) {
          <p-togglebutton
            [disabled]="!container.check_enabled"
            [ngModel]="container.update_enabled"
            (ngModelChange)="onUpdateEnabledChange($event, container)"
            [onLabel]="'GENERAL.ENABLED' | translate"
            [offLabel]="'GENERAL.DISABLED' | translate"
            [onIcon]="'pi pi-check-circle'"
            [offIcon]="'pi pi-circle-off'"
          />
        }
      </td>
      <td>
        @if (!container.is_self) {
          @if (container.update_available) {
            <p-button
              [loading]="
                container.checkStatus &&
                container.checkStatus !== ECheckStatus.DONE &&
                container.checkStatus !== ECheckStatus.ERROR
              "
              [label]="'CONTAINERS.TABLE.UPDATE' | translate"
              severity="success"
              (onClick)="checkContainer(container.name, true)"
            ></p-button>
          } @else {
            <p-button
              [loading]="
                container.checkStatus &&
                container.checkStatus !== ECheckStatus.DONE &&
                container.checkStatus !== ECheckStatus.ERROR
              "
              [label]="'CONTAINERS.TABLE.CHECK' | translate"
              (onClick)="checkContainer(container.name, false)"
            ></p-button>
          }
        }
      </td>
    </tr>

    <ng-template
      #expandedrow
      let-container
    >
      <tr>
        <td colspan="6">
          <div class="extra-info">
            <p-fieldset [legend]="'CONTAINERS.TABLE.IMAGE' | translate">
              {{ container.image }}
            </p-fieldset>
            <p-fieldset [legend]="'CONTAINERS.TABLE.SHORT_ID' | translate">
              {{ container.short_id }}
            </p-fieldset>
            <p-fieldset [legend]="'CONTAINERS.TABLE.PORTS' | translate">
              <ng-container
                [ngTemplateOutlet]="portsTemplate"
                [ngTemplateOutletContext]="{ ports: container.ports }"
              ></ng-container>
            </p-fieldset>
            <p-fieldset [legend]="'CONTAINERS.TABLE.CHECKED_AT' | translate">
              {{ container.checked_at | naiveDate | date: 'medium' }}
            </p-fieldset>
            <p-fieldset [legend]="'CONTAINERS.TABLE.UPDATED_AT' | translate">
              {{ container.updated_at | naiveDate | date: 'medium' }}
            </p-fieldset>
          </div>
        </td>
      </tr>
    </ng-template>
  </ng-template>
</p-table>

<ng-template
  #portsTemplate
  let-ports="ports"
>
  <section class="ports">
    @if (ports) {
      @for (item of ports | keyvalue; track item) {
        @for (hp of $any(item.value); track hp) {
          {{ hp.HostIp }}:{{ hp.HostPort }}<br />
        }
        <span>:{{ item.key }}</span>
      }
    }
  </section>
</ng-template>

<p-dialog
  [header]="'CONTAINERS.TABLE.CHECK_ALL_COMPLETED' | translate"
  [modal]="true"
  [draggable]="false"
  [visible]="checkAllDialogVisible()"
  (visibleChange)="checkAllDialogVisible.set(false)"
>
  @if (checkAllProgress(); as prog) {
    <section class="check-results">
      <span>
        {{ 'CONTAINERS.TABLE.HEADER_PROGRESS.UPDATED' | translate }}: {{ prog.updated }}
      </span>
      <span>
        {{ 'CONTAINERS.TABLE.HEADER_PROGRESS.AVAILABLE' | translate }}: {{ prog.available }}
      </span>
      <span>
        {{ 'CONTAINERS.TABLE.HEADER_PROGRESS.ROLLEDBACK' | translate }}: {{ prog.rolledback }}
      </span>
      <span> {{ 'CONTAINERS.TABLE.HEADER_PROGRESS.FAILED' | translate }}: {{ prog.failed }} </span>
    </section>
  }
</p-dialog>
