<p-table
  #dt2
  [globalFilterFields]="['name', 'short_id']"
  dataKey="name"
  [value]="list()"
>
  <ng-template #caption>
    <div style="padding-left: 5rem">
      <p-iconfield iconPosition="left">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          #searchInput
          id="containers-search"
          pInputText
          type="text"
          (input)="dt2.filterGlobal($event.target.value, 'contains')"
          [placeholder]="'CONTAINERS.TABLE.SEARCH_PLACEHOLDER' | translate"
        />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 5rem"></th>
      <th pSortableColumn="name">
        {{ 'CONTAINERS.TABLE.NAME' | translate }}
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        {{ 'CONTAINERS.TABLE.STATUS' | translate }}
        <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th pSortableColumn="health">
        {{ 'CONTAINERS.TABLE.HEALTH' | translate }}
        <p-sortIcon field="health"></p-sortIcon>
      </th>
      <th pSortableColumn="check_enabled">
        {{ 'CONTAINERS.TABLE.CHECK_ENABLED' | translate }}
        <i
          class="pi pi-question-circle"
          style="margin: 0 0.5rem"
          [pTooltip]="'CONTAINERS.TABLE.CHECK_HINT' | translate"
          tooltipPosition="left"
        ></i>
        <p-sortIcon field="check_enabled"></p-sortIcon>
      </th>
      <th pSortableColumn="update_enabled">
        {{ 'CONTAINERS.TABLE.UPDATE_ENABLED' | translate }}
        <i
          class="pi pi-question-circle"
          style="margin: 0 0.5rem"
          [pTooltip]="'CONTAINERS.TABLE.UPDATE_HINT' | translate"
          tooltipPosition="left"
        ></i>
        <p-sortIcon field="update_enabled"></p-sortIcon>
      </th>
      <th>
        <!-- For menu -->
      </th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-container
    let-expanded="expanded"
  >
    <tr>
      <td>
        <p-button
          type="button"
          pRipple
          [pRowToggler]="container"
          [text]="true"
          severity="secondary"
          [rounded]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>
      <td>{{ container.name }}</td>
      <td>
        <p-tag
          [severity]="EContainerStatusSeverity[container.status]"
          [value]="container.status"
        ></p-tag>
      </td>
      <td>
        <p-tag
          [severity]="EContainerHealthSevirity[container.health] ?? 'secondary'"
          [value]="container.health"
        ></p-tag>
      </td>
      <td>
        @if (!container.is_self) {
          <p-togglebutton
            [ngModel]="container.check_enabled"
            (ngModelChange)="onCheckEnabledChange($event, container)"
            [onLabel]="'GENERAL.ENABLED' | translate"
            [offLabel]="'GENERAL.DISABLED' | translate"
            [onIcon]="'pi pi-check-circle'"
            [offIcon]="'pi pi-circle-off'"
          />
        }
      </td>
      <td>
        @if (!container.is_self) {
          <p-togglebutton
            [disabled]="!container.check_enabled"
            [ngModel]="container.update_enabled"
            (ngModelChange)="onUpdateEnabledChange($event, container)"
            [onLabel]="'GENERAL.ENABLED' | translate"
            [offLabel]="'GENERAL.DISABLED' | translate"
            [onIcon]="'pi pi-check-circle'"
            [offIcon]="'pi pi-circle-off'"
          />
        }
      </td>
      <td>
        @if (!container.is_self) {
          <p-menu
            #menu
            [model]="container.menu"
            [popup]="true"
          />
          <p-button
            (click)="menu.toggle($event)"
            severity="secondary"
            icon="pi pi-ellipsis-h"
            [badge]="container.update_available ? 'a' : ''"
            [label]="container.update_available ? ' ' : ''"
            badgeSeverity="success"
          ></p-button>
        }
      </td>
    </tr>

    @if (
      container.checkStatus &&
      container.checkStatus !== ECheckStatus.DONE &&
      container.checkStatus !== ECheckStatus.ERROR
    ) {
      <tr>
        <td colspan="7">
          <p-progress-bar
            [style.height.px]="6"
            [showValue]="false"
            mode="indeterminate"
          ></p-progress-bar>
        </td>
      </tr>
    }

    <ng-template
      #expandedrow
      let-container
    >
      <tr>
        <td colspan="7">
          <div
            class="extra-info"
            style="padding-left: 5rem"
          >
            <div class="extra-info-item">
              <span class="extra-info-item-label">
                {{ 'CONTAINERS.TABLE.IMAGE' | translate }}
              </span>
              <span class="extra-info-item-value">
                {{ container.image }}
              </span>
            </div>
            <div class="extra-info-item">
              <span class="extra-info-item-label">
                {{ 'CONTAINERS.TABLE.SHORT_ID' | translate }}
              </span>
              <span class="extra-info-item-value">
                {{ container.short_id }}
              </span>
            </div>
            <div class="extra-info-item">
              <span class="extra-info-item-label">
                {{ 'CONTAINERS.TABLE.PORTS' | translate }}
              </span>
              <span class="extra-info-item-value">
                <ng-container
                  [ngTemplateOutlet]="portsTemplate"
                  [ngTemplateOutletContext]="{ ports: container.ports }"
                ></ng-container>
              </span>
            </div>
            <div class="extra-info-item">
              <span class="extra-info-item-label">
                {{ 'CONTAINERS.TABLE.CHECKED_AT' | translate }}
              </span>
              <span class="extra-info-item-value">
                {{ container.checked_at | naiveDate | date: 'medium' }}
              </span>
            </div>
            <div class="extra-info-item">
              <span class="extra-info-item-label">
                {{ 'CONTAINERS.TABLE.UPDATED_AT' | translate }}
              </span>
              <span class="extra-info-item-value">
                {{ container.updated_at | naiveDate | date: 'medium' }}
              </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </ng-template>
</p-table>

<ng-template
  #portsTemplate
  let-ports="ports"
>
  <section class="ports">
    @if (ports) {
      @for (item of ports | keyvalue; track item) {
        @for (hp of $any(item.value); track hp) {
          {{ hp.HostIp }}:{{ hp.HostPort }}<br />
        }
        <span>:{{ item.key }}</span>
      }
    }
  </section>
</ng-template>
