@use 'mixins' as m;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  p-toolbar {
    border-color: transparent;
  }

  p-table {
    @include m.p-table;
  }
}
