:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  .logs-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    &-button {
      flex-basis: 100%;
    }
  }

  .logs-text {
    overflow-y: auto;
  }
}
