name: Build and push docker image with arbitrary tag

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag of the image being built (e.g. dev). Cannot start with "v" or be "latest".'
        required: true

jobs:
  build:
    # needs: check-tag # This job is not defined in the provided workflow
    if: github.event.inputs.tag != 'latest' && !startsWith(github.event.inputs.tag, 'v')
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: quenary/tugtainer
      AGENT_IMAGE_NAME: quenary/tugtainer-agent
      TAG: ${{ github.event.inputs.tag }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push full image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.TAG }}
          build-args: |
            VERSION=${{ env.TAG }}
          labels: |
            org.opencontainers.image.title=Tugtainer
            org.opencontainers.image.description="Containerized app for automating updates of docker containers."
            org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}/tree/${{ github.ref_name }}
            org.opencontainers.image.created=${{ github.run_started_at }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=MIT

      - name: Build and push agent image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.agent
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.AGENT_IMAGE_NAME }}:${{ env.TAG }}
          build-args: |
            VERSION=${{ env.TAG }}
          labels: |
            org.opencontainers.image.title="Tugtainer Agent"
            org.opencontainers.image.description="Agent part of Tugtainer app, providing secure remote access to Docker hosts."
            org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}/tree/${{ github.ref_name }}
            org.opencontainers.image.created=${{ github.run_started_at }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=MIT